html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    color: #54865C;
}

.headerImg {
    width: auto;
    height: 75vh;
    background-size: cover;
    background-image: url('images/header.jpg');
    background-position: top right;
    background-repeat: no-repeat;
}

.logo {
    margin-top: 2rem;
}

.containerHeader {
    max-width: 1504px;
    padding: 0 2rem;
    margin: 0 auto 2rem;
}

.headline {
    max-width: 600px;
}

header {
    margin-bottom: 5rem;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    background-color: #F19898;
    padding: 16px 24px;
    border: none;
    align-items: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover{
    background-color: #f07a85;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #54865C;
}

.textLeftAligned {
    text-align: left;
    font-size: 20px;
    max-width: 608px;
    float: right;
}

.textLeftAlignedBUTleft {
    text-align: left;
    font-size: 20px;
    max-width: 608px;
    float: left;
}

.imgboxLeft {
    float: left;
    max-height: 512px;
    margin-right: 2rem;

}

.imgboxRight {
    float: right;
    max-height: 512px;
    margin-left: 2rem;
}

.textUmedien1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    float: left;
}

.textUmedien2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    float: left;
}

.textIntro {
    text-align: center;
    margin-bottom: 5rem;
}


.containerMainText {
    max-width: 1248px;
    padding: 0 2rem;
    margin: 0 auto 5rem;
}

.galleryHeadline {
    margin-bottom: 16px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
}

.galleryImg {

}

footer {
    background-color: #54865C;
    width: 100%;
    position: absolute;
}

.footerTextLeft {
    color: #FFFFFF;
    float: left;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.footerTextRight {
    color: #FFFFFF;
    float: right;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 768px) {

    .headerImg {
        background: #f0f0f0;
        overflow: auto;
        clear: both;
        height: 40vh;

    }

    .containerHeader {
        align-items: center;
        padding: 0;
        margin: 0;
    }


    h1 {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        margin-top: 1rem;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-top: 2rem;
    }

    .textIntro {
        font-size: 16px;
        line-height: 24px;
    }

    .logo {
        width: 96px;
        height: auto;
        position: center;
        display: block;
        margin: 2rem auto auto;
    }

    button {
        flex-direction: row;
        padding: 16px;
        display: block;
        margin: 2rem auto auto;
    }

    .textUmedien1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
    }

    .textUmedien2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .textUmedien2 > .imgboxRight {
        order: 1;
    }

    .textUmedien2 > .textLeftAlignedBUTleft {
        order: 2;
    }

    .image {
        width: 100vw;
        height: auto;
    }

    .imgboxLeft {
        float: none;
        margin: 0 0 2rem;
    }

    .imgboxRight {
        margin: 0 0 2rem;
        float: none;
    }

    .containerMainText {
        padding: 0;
        margin-bottom: 24px;
    }

    .textLeftAligned {
        padding: 0 2rem;
        text-align: center;
    }

    .textLeftAlignedBUTleft {
        padding: 0 2rem;
        text-align: center;
    }

    .footerTextLeft {
        text-align: center;
        float: none;
        margin: 1rem;
    }

    footer {
        margin-top: 1rem;
    }

    .footerTextRight {
        text-align: center;
        float: none;
        margin: 1rem;
    }

    .containerHeader > .footerTextLeft {
        order: 1;
    }

    .containerHeader > .footerTextRight {
        order: 2;
    }

    .gallery {
        display: flex;
        grid-gap: 10px;
    }

    .galleryImg {
        width: 100vw;
        margin: 0;
    }

    header {
        margin-bottom: 2rem;
    }

}