body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
}

h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    color: #54865C;
}

.headerImg {
    width: auto;
    height: 800px;
    background-size: cover;
    background-image: url("images/header.jpg");
    background-position: top right;
    background-repeat: no-repeat ;
}

.logo {
    margin-top: 2rem;
}

.containerHeader {
    max-width: 1504px;
    padding: 0 2rem;
    margin: 0 auto 2rem;
}

.headline {
    max-width: 600px;
}

header {
    margin-bottom: 5rem;
}

button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: white;
    background-color: #F19898;
    padding: 16px 24px;
    border: none;
    align-items: center;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #54865C;
}

.textLeftAligned {
    text-align: left;
    font-size: 20px;
    max-width: 608px;
    float: right;
}

.textLeftAlignedBUTleft {
    text-align: left;
    font-size: 20px;
    max-width: 608px;
    float: left;
}

.imgboxLeft {
    float: left;
    max-height: 512px;
    margin-right: 2rem;

}

.imgboxRight {
    float: right;
    max-height: 512px;
    margin-left: 2rem;
}

.textUmedien {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    float: left;
}

.textIntro {
    text-align: center;
    margin-bottom: 5rem;
}


.containerMainText {
    max-width: 1248px;
    padding: 0 2rem;
    margin: 0 auto 5rem;
}

.galleryHeadline {
    margin-bottom: 16px;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.galleryImg {
    max-width: 352px;
    height: auto;
    margin-bottom: 2rem;
}

footer {
    background-color: #54865C;
    width: 100%;
    height: 79px;
    position: absolute;
}

.footerTextLeft {
    color: #FFFFFF;
    float: left;
}

.footerTextRight {
    color: #FFFFFF;
    text-align: right;
    float: right;
}